$padd:3px;
/* MIXIN */

@mixin size ($alto, $ancho, $pad, $margin) {
    height: $alto;
    width: $ancho;
    padding: $pad;
    margin:$margin;
}
/* MAP*/
$fot:(
    gm: #df8518,
    quien: #3b5998
);

@each $txt,$color in $fot {
    .foot-#{$txt}{
        @include size(25%, 25%, 1rem ,3px);
        background-color: $color;
        box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.3);
        font-size: 12px;
        border-radius: $padd*2; 
        padding: $padd*2;
    }
}

.desafio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ul{
        padding: 0px;
        margin:$padd;

        li{
            a{
                text-decoration: none;
                color: black;
            }
        }}}

/* EXTEND */
.desafio{
    h2{
        @extend .card-f;
        font-size: 50px;
    }
}
