.card-c{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}
.card-f{
    padding: 1rem;
}
.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tipoa{
    padding: 1rem 0rem;
}