@keyframes wpp {

    0%{
        transform:translateY(2.5rem);
        width: 0px;
    }
    25%{
        width: 10px;
        transform: translateX(3rem);
    }
    50%{
        width: 14px ;
        transform: translateX(-3rem);
    }
    75%{
        width: 20px;
        transform: scale(1.7);
    }
    100%{
        transform: scale(1);
        width: 24px;
    }

}

@keyframes ui {
    25%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
    
}