@media screen and (min-width:1024px) {
    .tipoa{
        padding: 2rem 6rem;
    }
    .sup{
        display: grid;
        grid-template-areas: 
        "sup1 sup2 sup3"
        "sup4 sup5 sup6";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 20px;
        margin: 2rem 7rem;
    }
}